.todoitmes{
    display: flex;
    justify-content: space-between;
    padding: 16px 0px;
    align-items: center;
}
.todoitmes-container{
    display: flex;

}
.todoitmes-text{
    padding-left: 16px;
    color: #404040;
    font-size: 22px;
    font-weight: bolder;
}
.toitems-crossname{
    cursor: pointer;
    padding-right: 25px;
}
.line-through{
    text-decoration: line-through solid #adadad 3px;
}